<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>

        <th:block th:fragment="applicationList(applications)">

        <table>
            <thead>
                <tr>
                    <!-- <th scope="col">Employee</th> -->
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Type</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Fee (SGD)</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="app : ${applications}">
                    <!-- <td th:text="${app.user.name}"></td> -->
                    <td th:text="${app.course.courseName}"></td>
                    <td th:text="${app.course.courseType}"></td>
                    <td th:text="${app.course.duration}"></td>
                    <td th:text="${#temporals.format(app.course.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(app.course.endDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${app.course.fee}"></td>
                    <td th:text="${app.applicationStatus}"></td>
                </tr>
            </tbody>
        </table>

        </th:block>
        
    </body>
</html>

