<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>

        <th:block th:fragment="approveOrReject(app)">
            <h3>Manager's Justification</h3>
            <div>
                <form th:action="@{/manager/application/status}" method="post">
                    <input type="hidden" name="id" th:value="${app.id}">
                    <textarea name="managerReason" placeholder="Enter reason" rows="5" width="100%"></textarea>
                    <!-- TODO: add validation to this form -->
                    <!-- <span class="field-error-message" th:if="${#fields.hasErrors('managerReason')}" th:errors="*{userReason}"/> -->
                    <button type="submit" name="status" value="APPROVED">Approve</button>
                    <button type="submit" name="status" value="REJECTED">Reject</button>
                </form>
            </div>
        </th:block>


        <th:block th:fragment="showManagerReason(app)">
            <div class="details-card">
                <dl class="details-grid">
                    <dt> Manager's Reason</dt>
                    <dd class="full-width" th:text="${applicationResult.managerReason}"></dd>
                </dl>
            </div>
        </th:block>

        
        <th:block th:fragment="editOrDelete(app)">
            <a th:href="@{/staff/edit(id=${app.id})}" class="btn btn-primary">Edit</a>
            <!-- TODO: have like a pop up that says "are you sure?" maybe use javascript alert? idk -->
            <form th:action="@{/staff/delete(id=${app.id})}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </th:block>

        
        <th:block th:fragment="cancelOrComplete(app)">
            <div class="actions">
            <!-- TODO: do survey first, then mark as complete -->
            <!-- so action send to staff/survey etc etc -->
            <form th:action="@{/staff/completed(id=${app.id})}" method="post">
                <button type="submit">COMPLETED</button>
            </form>
            </div>
        </th:block>


    </body>
</html>

