<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>

        <th:block th:fragment="header">

            <header>
                <a th:href="@{/staff/index}">Training</a>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}">Administration</a>
                <form sec:authorize="!hasRole('ADMIN')" th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
                <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </header>

        </th:block>

    </body>
</html>
