<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Application Form</title>
  </head>

  <body>
    <div th:replace="~{fragments/header :: header}" />

    <h3>Application Form</h3>

    <form th:action="@{/staff/submitapplication}" th:object="${applicationForm}" method="POST">
      <!-- error summary banner -->
      <div class="global-error-banner" th:if="${#fields.hasAnyErrors()}">
        <p>Summary of Errors</p>
        <ul><li th:each="error : ${#fields.allErrors()}" th:text="${error}"/></ul>
        <p> Unable to submit application. Please re-enter fields or review again before submitting.</p>
      </div>
      <p th:if="${error}" class="field-error-message">Error from service validation: <span th:text="${error}"></span></p>
      
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{course.courseId}" />

      <!-- User's info-->
      <div>
        <fieldset>
          <label>Name:</label>
          <input type="text" th:field="*{user.name}" th:readonly="true"/>
        </fieldset>

        <fieldset>
          <label>Email:</label>
          <input type="email" th:field="*{user.email}" th:readonly="true"/>
        </fieldset>
      </div>

      <!-- Course info -->
      <div>
        <fieldset>
          <label>Course Name:</label>
          <input type="text" th:field="*{course.courseName}" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.courseName')}" th:errors="*{course.courseName}"/>
        </fieldset>

        <fieldset>
          <label>Course Type:</label>
          <select th:field="*{course.courseType}" th:disabled="*{course?.courseType?.name() == 'INTERNAL'}">
            <option value="">--Course Type--</option>
            <option value="INTERNAL" th:if="*{course?.courseType?.name() == 'INTERNAL'}">Internal Training</option>
            <option value="EXTERNAL">External Course</option>
            <option value="PROFESSIONAL">Professional Certification</option>
          </select>
          <input type="hidden" name ="course.courseType" value="INTERNAL" th:if="*{course?.courseType?.name() == 'INTERNAL'}">
          <span class="field-error-message" th:if="${#fields.hasErrors('course.courseType')}" th:errors="*{course.courseType}"/>
        </fieldset>

        <fieldset>
          <label>Course Start Date:</label>
          <input type="date" th:field="*{course.startDate}" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.startDate')}" th:errors="*{course.startDate}"/>
        </fieldset>

        <fieldset>
          <label>Course End Date:</label>
          <input type="date" th:field="*{course.endDate}" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.endDate')}" th:errors="*{course.endDate}"/>
        </fieldset>

        <fieldset>
          <label>Course Duration:</label>
          <input type="text" th:name="course.duration" th:value="*{course.duration ?: 'FULLDAY'}" th:readonly="true" />
          <span class="field-error-message" th:if="${#fields.hasErrors('course.duration')}" th:errors="*{course.duration}"/>
        </fieldset>

        <fieldset>
          <label>Location:</label>
          <input type="text" th:field="*{course.location}" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.location')}" th:errors="*{course.location}"/>
        </fieldset>

        <fieldset>
          <label>Training Provider:</label>
          <input type="text" th:field="*{course.trainingProvider}" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.trainingProvider')}" th:errors="*{course.trainingProvider}"/>
        </fieldset>

        <fieldset>
          <label>Fee:</label>
          <input type="number" th:field="*{course.fee}" step="0.01" th:readonly="*{course?.courseType?.name() == 'INTERNAL'}"/>
          <span class="field-error-message" th:if="${#fields.hasErrors('course.fee')}" th:errors="*{course.fee}"/>
        </fieldset>

        <fieldset>
          <label>Reason for Application:</label>
          <textarea th:field="*{userReason}" rows="5" width="100%"></textarea>
          <span class="field-error-message" th:if="${#fields.hasErrors('userReason')}" th:errors="*{userReason}"/>
        </fieldset>

        <button type="submit">Submit Application</button>
        <button type="reset">Reset Application</button>
      </div>

    </form>
  </body>
</html>
