<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Subordinate History</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>

        <div th:replace="~{fragments/header :: header}"></div>

        <h2>Subordinate Course Application History</h2>
        <p th:if="${#lists.isEmpty(subordinatesApplications)}">
            your subordinates have no applications.
        </p>

        <div th:unless="${#lists.isEmpty(subordinatesApplications)}" th:each="applications : ${subordinatesApplications}">
            <details th:unless="${#lists.isEmpty(applications)}">
                <summary th:text="${applications[0].user.name}"></summary>
                <div th:replace="~{fragments/applicationlist :: applicationList(${applications})}"></div>
            </details>
        </div>
        
    </body>
</html>

