<!doctype html>
<html lang="en">
  <head xmlns="http://www.thymeleaf.org">
    <title>Internal Course</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}" />

        <!-- TODO: make this nicer -->
    <a th:href="@{courselist(type='ALL')}">ALL</a>
    <a th:href="@{courselist(type='INTERNAL')}">INTERNAL</a>
    <a th:href="@{courselist(type='EXTERNAL')}">EXTERNAL</a>
    <a th:href="@{courselist(type='PROFESSIONAL')}">PROFESSIONAL</a>

    <h1>Internal Courses</h1>
    <p th:if="${#lists.isEmpty(courselist)}">No Courses Available.</p>
    <th:block h:unless="${#lists.isEmpty(courselist)}">
        <div th:replace="~{fragments/courselist :: courseList(courses=${courses})}" />
    </th:block>

    <div class = "pagination">
        <div>
        <a th:if="${pageNum > 0}" th:href="@{/staff/courselist(pageNum=${pageNum-1})}">Prev page</a>
        <a th:if="${pageNum < pageNumLast - 1}" th:href="@{/staff/courselist(pageNum=${pageNum+1})}">Next page</a>
        </div>
        
        <th:block th:each="i : ${#numbers.sequence(0, pageNumLast - 1)}">
            <a th:href="@{/staff/courselist(pageNum=${i})}" th:text="${i + 1}"></a>
        </th:block>
    </div>

  </body>
</html>
