<!DOCTYPE html>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org"> 
	<head>
        <title>Index</title>
	</head>
	<body>
        <div th:replace="~{fragments/header :: header}">
		</div>

        <div th:if="${session.user}">
            <h1>Welcome <span th:text="${session.user.name}"></span>! This is the index page</h1>
        </div>
        <div th:unless="${session.user}">
            <h1>Welcome! This is the index page</h1>
        </div>
		
		<a th:href="@{/staff/courselist}">View internal courses</a>
		<a th:href="@{/staff/apply}">Apply for a course</a>

        <div style="display: flex; flex-direction: column;">
            <div>
				<!-- now just show total training days, no calculation yet-->
				<p th:if="${session.user != null}">
				    Training days remaining:
				    <span th:text="${session.user.trainingDays}"></span>
				</p>
            </div>
            <div>
                <p>TODO: display budget remaining</p>
            </div>
            <div>
                <p>TODO: display number of applications pending approval</p>
            </div>
        </div>

	</body>
</HTML>
