<!DOCTYPE html>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org"> 
	<head>
        <title>My Training</title>
        <link rel="stylesheet" th:href="@{/style.css}"/>
	</head>
	<body>
        <div th:replace="~{fragments/header :: header}"></div>

        <div th:if="${session.user}">
            <h1>My Training</h1>
            <p>Welcome <span th:text="${session.user.name}"></span>.</p>
        </div>
        <div th:unless="${session.user}">
          <h1>Welcome! This is the index page</h1>
        </div>

        <div class="actions">
            <a th:href="@{/staff/courselist}">View internal courses</a>
            <a th:if="${isManager}" th:href="@{/manager/applications}">Team Training</a>
            <a th:href="@{/staff/apply}">Apply for a course</a>
            <a th:href="@{/staff/calendar}">View Calendar</a>
        </div>

        <!-- display user details -->
        <div th:if ="${session.user}">
          <p th:text="'Days Left :' + ${session.user.days}"></p>
          <p th:text="'Budget Remaining: $' + ${session.user.budget}"></p>
          <p th:text="'Number of Pending Applications: ' + ${session.user.countPendingApplications()}"></p>
        </div>

        <!-- display success message for every application made or deleted -->
        <div th:if="${successmsg}" th:text="${successmsg}" class="field-success-message"></div>

        <!-- user's personal course history -->
        <p th:if="${#lists.isEmpty(applications)}">You have not applied for any courses.</p>
        <span th:unless=${#lists.isEmpty(applications)}>
            <h2>Personal Course History</h2>
            <span th:replace="~{fragments/applicationlist :: applicationList(${applications})}"></span>
        </span>

  </body>
</html>
