<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Training</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Team Training</h1>

    <h2>Pending Approvals</h2>
    <p th:if="${#lists.isEmpty(pendingApplications)}">
        No applications awaiting approval.
    </p>
    <div th:unless="${#lists.isEmpty(pendingApplications)}">
        <div th:replace="~{fragments/applicationlistwithname :: applicationListWithName(${pendingApplications})}"></div>
    </div>

    <h2>Subordinate Course Application History</h2>
    <p th:if="${#lists.isEmpty(subordinatesApplications)}">
        Your subordinates never made any applications.
    </p>
    <div th:unless="${#lists.isEmpty(subordinateApplications)}">
        <div th:replace="~{fragments/applicationlistwithname :: applicationListWithName(${subordinateApplications})}"></div>
        <a th:href="@{/manager/applicationhistory}">See all</a>
    </div>

</body>
</html>
