<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Application Search Results</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Application Search Results</h1>
    
    <!-- Exclude applications which statuses are deleted  -->
    <p th:text="'Number of results: ' + ${searchApplications.?[Status.name()!='DELETED'].size()}"></p>

    <!-- Show 'No applications found.' if there are zero applications that are of statuses 'APPLIED' or 'EDITED' -->
    <p th:if="${searchApplications.?[Status.name()!='DELETED'].isEmpty()}">No applications found.</p>

    <table th:unless="${searchApplications.?[Status.name()!='DELETED'].isEmpty()}">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Course</th>
                <th>Course Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Fee (SGD)</th>
                <th>Justification</th>
                <th>Status</th>
				<th>Manager Remarks</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="app : ${searchApplications}" th:unless="${app.Status.name() == 'DELETED'}">
                <td th:text="${app.user.name}"></td>
                <td th:text="${app.course.courseName}"></td>
                <td th:text="${app.course.courseType}"></td>
                <td th:text="${app.course.startDate}"></td>
                <td th:text="${app.course.endDate}"></td>
                <td th:text="${app.course.fee}"></td>
                <td th:text="${app.userReason}"></td>
                <td th:text="${app.Status}"></td>
				<td th:text="${app.managerReason}"></td>
            </tr>

        </tbody>

    </table>

    <br>

    <!-- Note: do not adjust the format here -->
    <h1>Staff Reports</h1>
    <h3>Staff Personal Details</h3>
    <pre>
        UserID,Name,Email
        <th:block th:each="r:${personalDetailsRows}">[[${r}]]</th:block>
    </pre>

    <h3>Overview of Allowance Balances</h3>
    <pre>
        UserID,Name,CourseID,CourseName,Fee,AllowanceRemaining
        <th:block th:each="r:${rows}">[[${r}]]</th:block>
    </pre>

    <br>

    <a th:href="@{/manager/applications}">Back to Pending Applications</a>

</body>
</html>
